
@{
    ViewBag.Title = "Index";

    if (Session["idtbuseradmin"] == null)
    {
        Response.Redirect("~/Administrator/Index");
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pagina Administrativa</title>


</head>
<body>
    <div>
        <h2>Pagina del admin luego de iniciar session</h2>
        <h2>Nombre: @Session["nameuseradmin"].ToString()</h2>
        <a href="@Url.Action("LogOut", "Administrator")">LogOut</a>
    </div>

</body>
</html>
