<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:63596/api/Hotel/getHotel",
            type: "Get",
            success: function (data)
            {
                $("<p'>" + data.History + "</p>").appendTo("#history");
                $("<p'>" + data.Mission + "</p>").appendTo("#mission");
                $("<p'>" + data.Vission + "</p>").appendTo("#vision");
                $("<p'>" + data.BasicInformation + "</p>").appendTo("#about");
                $("<p'>" + data.Location + "</p>").appendTo("#location");
            },
            error: function (msg) { alert(msg); }
        });
    });
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:63596/api/ImageGallery/getGalleryImages",
            type: "Get",
            success: function (data) {
                var interval = (data.length > 5) ? 5 : data.length;
                for (var i = 0; i < interval; i++) {
                    var imagePath = '/Content/images/gallery/' + data[i].ImageGalleryPath;
                    $('<div class="owl-item cloned" style="width: 261.8px;"><div class="item">' +
                    '<a class="hover_effect h_yellow h_lightbox" href="' + imagePath + '">' + 
                    '<img src="' + imagePath + '" alt="Image">' +
                    '</a></div></div>').appendTo("#gallery_slider");
                }
            },
            error: function (msg) { alert(msg); }
        });
    });
</script>
<script type="text/javascript">
    /**
    Función que insertar las imágenes de las facilidades
    */
    function insertFacilityImage()
    {
        var img = '';
        $.ajax
        ({
            url: "http://localhost:63596/api/Facility/getAllFacility",
            type: "Get",
            success: function (data)
            {
                var interval = data.length;

                for (var i = 0; i < interval; i++)
                {
                    img += '<div><img src="/Content/images/' + data[i].PathImageFacility + '" class="img-responsive" alt="Image"></div>';
                }//Fin del for
                $("#div-facility").html('<div class="owl-carousel" id="features_slider" data-slider-id="features">' + img + '</div>');
            },
            error: function (msg) { alert(msg); }
        });
    }//Fin de la función insertFacilityImage

    /**
    Función que insertar el nombre y descripción de las facilidades.
    */
    function insertFacilityText()
    {
        var text = '<div class="owl-thumbs" data-slider-id="features">';
        $.ajax
        ({
            url: "http://localhost:63596/api/Facility/getAllFacility",
            type: "Get",
            success: function (data) {
                var interval = data.length;

                for (var i = 0; i < interval; i++) {
                    text += '<div class="owl-thumb-item' + (i === 0 ? " active" : "") + '">' +
                    '<div class="media-body">' +
                    '<h5>' + data[i].NameFacility + '</h5>' +
                    '<p>' + data[i].DescriptionFacility + '</p>' +
                    '</div>' +
                    '</div>';
                }//Fin del for
                text += '</div>';
                $("#div_facility_text").html(text);
            },
            error: function (msg) { alert(msg); }
        });
    }//Fin de la función insertFacilityText
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:63596/api/RoomType/getAllRoomType",
            type: "Get",
            success: function (data)
            {
                for (var i = 0; i < data.length; i++)
                {
                    var temp = '<div class="col-md-4">'+
                            '<article class="room">'+
                                '<figure>'+
                                    '<div class="price">¢' + data[i].PriceRoomType + '<span>/ noche</span></div>' +
                                    '<a class="hover_effect h_blue h_link" href="../room/' + data[i].IdRoomType + '">' +
                                        '<img src="/Content/images/rooms/'+data[i].ImagePathRoomType+'" class="img-responsive" alt="Image">'+
                                    '</a>'+
                                    '<figcaption>'+
                                        '<h5><a href="../room/' + data[i].IdRoomType + '">' + data[i].NameRoomType + '</a></h5>' +
                                        '<span class="f_right"><a href="rooms-list.html" class="button btn_xs btn_blue">Más información</a></span>'+
                                    '</figcaption>'+
                                '</figure>'+
                            '</article>'+
                        '</div>';
                    $("#div-rooms").append(temp);
                }//Fin del for
            },
            error: function (msg) { alert(msg); }
        });
    });
</script>




<!-- ========== REVOLUTION SLIDER ========== -->
@*<div id="classic_slider" class="rev_slider" style="display:none">
    <!-- SLIDE NR. 1 -->
    <!-- MAIN IMAGE -->
    <img src=@Url.Content("/Content/images/slider/xslider-1.jpg.pagespeed.ic.BZM-CmXVWa.jpg") alt="Image" title="slider_bg2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
</div>*@


<section class="slider-container ofertas" style="z-index:1">
    <ul id="slider" class="slider-wrapper">
        @*<li class="slider-current">
            <img src=@Url.Content("/Content/images/promociones/1.jpg") alt="Slider Imagen 1">
            <div class="caption">
                <h3 class="caption-title">Diseño Web 1 </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, officia.</p>
            </div>
        </li>

        <li>
        <img src=@Url.Content("/Content/images/promociones/2.jpg") alt="Slider Imagen 1">
        <div class="caption">
            <h3 class="caption-title">Diseño Web 2 </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, officia.</p>
        </div>
    </li>

    <li>
        <img src=@Url.Content("/Content/images/promociones/3.jpg") alt="Slider Imagen 1">
        <div class="caption">
            <h3 class="caption-title">Diseño Web 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, officia.</p>
        </div>
    </li>

    <li>
        <img src=@Url.Content("/Content/images/promociones/4.jpg") alt="Slider Imagen 1">
        <div class="caption">
            <h3 class="caption-title">Diseño Web 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, officia.</p>
        </div>
    </li>*@
    </ul>

    <!--controles-->
    <ul id="slider-controls" class="slider-controls">
        
    </ul>
</section>

<!-- ========== HORIZONTAL BOOKING FORM ========== -->
<div class="hbf">
    <div class="container">
        <div class="inner">
            <form id="booking-form">
                <div class="col-md-2 md_pr5">
                    <div class="form-group">
                        <label>
                            Your Email
                            <a href="#" title="Your Email" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Please Type Your Email"> <i class="label_icon_info fa fa-info-circle"></i></a>
                        </label>
                        <input class="form-control" name="booking-email" type="email" placeholder="Your Email Address">
                    </div>
                </div>
                <div class="col-md-2 md_p5">
                    <div class="form-group">
                        <label>
                            Room Type
                            <a href="#" title="Room Type" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Please Select Room Type: Single Room, Double Room or Deluxe Room"> <i class="label_icon_info fa fa-info-circle"></i></a>
                        </label>
                        <div class="form_select">
                            <select name="booking-roomtype" class="form-control" title="Select Room Type" data-header="Room Type">
                                <option value="Single">Single Room</option>
                                <option value="Double">Double Room</option>
                                <option value="Deluxe">Deluxe Room</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">

                        <div class="col-md-6 col-sm-6 arrival_date md_pl5 md_nopadding_right">
                            <div class="form-group">
                                <label>
                                    Arrival
                                    <a href="#" title="Arrival" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Check In from 11:00 am"> <i class="label_icon_info fa fa-info-circle"></i></a>
                                </label>

                                <div class="form_date">
                                    <input type="text" class="datepicker form-control md_noborder_right" name="booking-checkin" placeholder="Arrival Date" readonly>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 departure_date md_pr5 md_nopadding_left">
                            <div class="form-group">
                                <label>
                                    Departure
                                    <a href="#" title="Departure" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Check Out from 12:00 am"> <i class="label_icon_info fa fa-info-circle"></i></a>
                                </label>
                                <div class="form_date departure">
                                    <input type="text" class="datepicker form-control" name="booking-checkout" placeholder="Departure Date" readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">

                        <div class="col-md-6 col-sm-6 adults md_pl5 md_nopadding_right">
                            <div class="form-group">
                                <label>
                                    Adults
                                    <a href="#" title="Adults" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="+18 years"> <i class="label_icon_info fa fa-info-circle"></i></a>
                                </label>
                                <div class="form_select">
                                    <select name="booking-adults" class="form-control md_noborder_right" title="Adults" data-header="Adults">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 children md_pr5 md_nopadding_left">
                            <div class="form-group">
                                <label>
                                    Children
                                    <a href="#" title="Children" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="0-18 years"> <i class="label_icon_info fa fa-info-circle"></i></a>
                                </label>
                                <div class="form_select children_select">
                                    <select name="booking-children" class="form-control" title="Children" data-header="Children">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 md_pl5">
                    <button type="submit" class="button  btn_blue btn_full">BOOK A ROOM</button>
                    <div class="advanced_form_link"> <a href="booking-form.html"> Advanced Booking Form </a> </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ========== ABOUT & ROOMS ========== -->
<section id="about_rooms">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div id="about">
                    <div class="main_title mt_wave a_left">
                        <h2>Bienvenidos al Hotel Aurora</h2>
                    </div>

                    
                </div>
                
            </div>

            <div class="col-md-8">
                <div id="rooms">
                    <div class="main_title mt_wave a_left">
                        <h2>TIPOS DE HABITACIONES</h2>
                    </div>
                    <div class="row" id="div-rooms">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ========== SOBRE NOSOTROS ========== -->
<section id="testimonials_style_2" class="grey_bg">
    <div class="container">
        <div class="main_title mt_wave a_center">
            <h2>ACERDA DE</h2>
        </div>
        <div class="row">
            <!-- ITEM -->
            <div class="col-md-4">
                <div class="review_item">
                    <div class="review_content" id="mission">
                        <h3>Misión</h3>
                    </div>
                    <div class="review_author">
                        <img src=@Url.Content("/Content/images/mision.png") alt="Image">
                    </div>
                </div>
            </div>
            <!-- ITEM -->
            <div class="col-md-4">
                <div class="review_item">
                    <div class="review_content" id="vision">
                        <h3>Visión</h3>
                    </div>
                    <div class="review_author">
                        <img src=@Url.Content("/Content/images/vision.png") alt="Image">
                    </div>
                </div>
            </div>
            <!-- ITEM -->
            <div class="col-md-4">
                <div class="review_item">
                    <div class="review_content" id="history">
                        <h3>Historia</h3>
                    </div>
                    <div class="review_author">
                        <img src=@Url.Content("/Content/images/history.png") alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== GALLERY ========== -->
<section id="gallery" class="blue_bg">
    <div class="container">
        <div class="main_title mt_wave mt_white a_center">
            <h2>GALERÍA</h2>
        </div>
    </div>

    <div id="gallery_slider" class="owl-carousel image-gallery">

    </div>



</section>

<div class="container">
    <div class="mt40 a_center">
        <a class="button btn_sm btn_dark upper" href="@Url.Action("Gallery", "Home")">View Full Gallery</a>
    </div>
</div>

<!-- ========== FEATURES ========== -->
<section class="lightgrey_bg" id="features">
    <div class="container">
        <div class="main_title mt_wave a_center">
            <h2>FACILIDADES</h2>
        </div>
        <div class="row">
            <div class="col-md-7" id="div-facility">
                <script>insertFacilityImage()</script>
            </div>
            <div class="col-md-5" id="div_facility_text">
                <script>insertFacilityText()</script>
            </div>
        </div>
    </div>
</section>

 <!-- ========== CONTACT ========== -->
<section class="white_bg" id="contact">
    <div class="container">
        <div class="main_title mt_wave a_center">
            <h2>Ubicación - Contacto</h2>
        </div>

        <!--
             <p  class="main_description a_center">
                 El Hotel Aurora esta localizada en Playa Flamingo, al noroeste de Bahía Brasilito, 75 Km. al suroeste de Liberia. Ubicada entre Playa Potrero y Playa Brasilito, es el mejor punto maritimo entre Acapulco y Panamá en la costa Pacifica.
             </p>
        -->

        <div id="location" class="main_description a_center"> </div>


        <div class="row">
            <div class="col-md-6">

                <!--  <div id="map-canvas"></div>    -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d422468.52802459954!2d-85.66965980687297!3d10.340272210653733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e2515837bf2a1%3A0xf8b4cbf3c601141f!2sProvincia+de+Guanacaste%2C+Playa+Flamingo%2C+Costa+Rica!5e0!3m2!1ses!2s!4v1491424589204" width="580" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="contact-items">
                        <div class="col-md-4 col-sm-4">
                            <div class="contact-item">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <h6>Hotel Aurora</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="contact-item">
                                <i class="glyphicon glyphicon-phone-alt"></i>
                                <h6>8888-8888</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="contact-item">
                                <i class="fa fa-envelope"></i>
                                <h6>hotelauroracr@site.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="contact-form" name="contact-form">
                    <div id="contact-result"></div>
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Nombre" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="Correo electrónico" type="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Mensaje"></textarea>
                    </div>
                    <button class="button btn_lg btn_blue btn_full upper" type="submit"><i class="fa fa-location-arrow"></i>Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- ========== SUBSCRIBE ========== -->
<section id="subscribe" class="gradient_overlay">
    <div class="inner">
        <div class="container">
            <div class="main_title mt_wave mt_white a_center" id="advertising">
                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
            </div>
            <p class="main_description md_white a_center">Subscribe to our newsletter to receive exclusive offers and the latest news.</p>
            <form id="subscribe-form" name="subscribe">
                <div class="form-group">
                    <input type="email" name="subscribe-email" class="form-control" placeholder="Enter your email">
                    <button class="button btn_lg btn_yellow" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>
