@{
    ViewBag.Title = "Habitación";
    Layout = "~/Views/Shared/_LayoutSecondPage.cshtml";
}
<script type="text/javascript">
    var arrayParam = document.location.href.split("/");
    idRoom = arrayParam[arrayParam.length - 1];
    //var idRoom = 1;
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:63596/api/Room/getRoom/"+idRoom,
            type: "Get",
            success: function (data)
            {
                $(".type_room").text(data.NameRoom);
                $("#roomDescription").text(data.CharacteristicsRoom);
                getTypeInformation(parseInt(data.TypeRoom));
            },
            error: function (msg) { alert("Error in room"); }
        });
    });

    function getTypeInformation(idType)
    {
        $.ajax({
            url: "http://localhost:63596/api/RoomType/getRoomTypeById/"+idType,
            type: "Get",
            success: function (data)
            {
                alert(data.IdRoomType + " - " + data.NameRoomType);
                $("#priceByNight").html('¢' + data.PriceRoomType + '<span>por noche</span>');
                $("#urlRoomType").html('<a href="' + data.IdRoomType + '">' + data.NameRoomType + '</a>');
                $('#idRoomType').attr('value', data.IdRoomType);
            },
            error: function (msg) { alert("Error in type"); }
        });
    }//Fin de la función

    function getImageSlider()
    {
        $.ajax({
            url: "http://localhost:63596/api/ImageRoom/getImageRoomByRoom/" + idRoom,
            type: "Get",
            success: function (data)
            {
                var itemSlider = '';
                var itemThumbds = '';
                for (var i = 0; i < data.length; i++)
                {
                    itemSlider += '<div class="item lightbox-image-icon">'+
                            '<a href="' + data[i].ImageRoomPath + '" class="hover_effect h_lightbox h_blue">'+
                                '<img class="img-responsive" src="' + data[i].ImageRoomPath + '" alt="Image">' +
                            '</a>'+
                        '</div>';
                    itemThumbds += '<div class="item"><img class="img-responsive" src="/Content/images/rooms/single-room/' + data[i].ImageRoomPath + '" alt="Image"></div>';
                }//Fin del for
                $("#divSlider").html('<div id="slider-larg" class="owl-carousel image-gallery">' + itemSlider + '</div><div id="thumbs" class="owl-carousel">' + itemThumbds + '</div>');
            },
            error: function (msg) { alert("Error in slider image"); }
        });
    }//Fin de la función

    function getClientByDNI() {
        var dni = $("#dni").val();
        if(dni != "") {
            $.ajax({
                url: "http://localhost:63596/api/Client/getClientByDNI/" + dni,
                type: "Get",
                success: function (data) {
                    if (data == null) {
                        $("#name").attr("value", "");
                        $("#surnames").attr("value", "");
                        $("#email").attr("value", "");
                        $("#idClient").attr("value", "");
                    } else {
                        $("#name").attr("value", data.Name);
                        $("#surnames").attr("value", data.Surnames);
                        $("#email").attr("value", data.Email);
                        $("#idClient").attr("value", data.Idtbclient);
                    }
                },
                error: function (msg) { alert("No connection to database"); }
            });
        } else {
            $("#name").attr("value", data.Name);
            $("#surnames").attr("value", data.Surnames);
            $("#email").attr("value", data.Email);
        }
    }//Fin de la función

</script>
<!-- =========== PAGE TITLE ========== -->
<div class="page_title gradient_overlay" style="background:url(images/xpage_title_bg.jpg.pagespeed.ic.mhkLvKptY0.jpg)">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="type_room"></h1>
                    <ol class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li id="urlRoomType"></li>
                        <li class="type_room"></li>
                    </ol>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="price">
                        <div class="inner" id="priceByNight"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========== MAIN ========== -->
<main id="room_page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- =========== SLIDER ========== -->
                <div class="slider" id="divSlider">
                    <script>getImageSlider();</script>
                </div><!-- Fin del slider-->
                <div class="main_title mt50">
                    <h2>Breve descripción sobre la habitación</h2>
                </div><!--Fin del main_title mt50-->
                <p id="roomDescription">Aquí va la descripción</p>
            </div><!-- Fin del col-md-8-->
            <div class="col-md-4">
                <div class="sidebar">
                    <aside class="widget">
                        <div class="vbf">
                            <h2 class="form_title"><i class="fa fa-calendar"></i>Reservación en linea</h2>
                            <form id="booking-form" class="inner" action="@Url.Action("setInformation","hotel")" method="post">
                                <div class="form-group">
                                    <input class="form-control" name="dni" id="dni" placeholder="Ingrese su DNI" type="text" onfocusout="getClientByDNI();">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" placeholder="Ingrese su nombre" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="surnames" id="surnames" placeholder="Ingrese sus apellidos" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" placeholder="Ingrese su email" type="email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="creditcard" id="creditcard" placeholder="Ingrese número tarjeta" type="text">
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <div class="form_date">
                                            <input type="text" class="datepicker form-control md_noborder_right" name="datein" placeholder="Fecha Ingreso" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <div class="form_date">
                                            <input type="text" class="datepicker form-control" name="dateout" placeholder="Fecha Salida" readonly>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="idClient">
                                <input type="hidden" id="idRoomType">
                                <button class="button btn_lg btn_blue btn_full" type="submit">RESERVAR</button>
                            </form>
                        </div>
                    </aside>
                    <aside class="widget">
                        <h4>NEED HELP?</h4>
                        <div class="help">
                            If you have any question please don't hesitate to contact us
                            <div class="phone"><i class="fa  fa-phone"></i><a href="tel:18475555555"> 1-888-123-4567 </a></div>
                            <div class="email"><i class="fa  fa-envelope-o "></i><a href="mailto:contact@site.com">contact@site.com</a> or use <a href="contact.html"> contact form</a></div>
                        </div>
                    </aside>
                </div>
            </div>
        </div><!-- Fin del row-->
    </div><!-- Fin del container-->
</main><!-- Fin del room_page -->