@model ModAdministrative.Models.tbimagegallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbimagegallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagegallerypath)
        </dt>

        <dd>
            <img width="140" height="140" src="@Html.DisplayFor(model => model.imagegallerypath)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtbimagegallery }) |
    @Html.ActionLink("Back to List", "Index")
</p>
