

#c-sliderDa{
	top: 0px;
	margin-left: 5%;
	
	width: 100%;
	max-width: 600%;
	position: relative; 
	overflow: hidden;
	/*box-shadow: 0 0 0 10px #fff,
				0 15px 50px;*/
}

#sliderDa{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -flex;

	width: 100%;

}


#sliderDa section{
	width: 100%;
}

#sliderDa img{
	display: block;
	width: 40%;
	height: 90%;

	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease-in-out; 
}

#btn-prev, #btn-next{
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-family: monospace;
	cursor: pointer;
}

#btn-prev:hover, #btn-next:hover{
	background: rgba(255, 255, 255, 1);
}

#btn-prev{
	left: 10px;
}

#btn-next{
	right: 10px;
}



#sliderDa img:hover{
	
	transform: scale(1.5, 1.5);
}


