
.contenedor-sliderDa {
  margin: auto;
  width: 98%;
  max-width: 900px;
  position: relative;
  overflow: hidden;
 
}

.sliderDa {
  display: flex;
  width: 357%;
}

.slider__sectionDa {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}




/**
* slider principal
**/

ul{
	list-style-type: none;
}

/*
*	Encabezado Slider
*/

.slider-title{
	text-align: center;
	margin: 80px 0 40px;
	font-size: 3.2em;
	font-weight: 300;
	color: #FFF;
}

/*
*	Contenedor Slider
*/
.slider-container{
	margin: 0 auto;
	width: 100%;
}

.slider-wrapper{
	position: relative;
	height: 575px; /**/
	width: 100%;
	border: 5px solid #415066;
	overflow: hidden;
	z-index: 90
}


.slider-wrapper li{
	display: none;
}

li.slider-current{
	display: block;
}

.slider-wrapper li img{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: auto;
	
}

/*
*	Caption
*/

.caption{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 12px;

}

.caption-title{
	color: #00c5b9;
	font-weight: 700;
	font-size: 1.6em;
	margin-bottom: 10px;
}

.caption p{
	color: #FFF;
	font-size: 1.4em;
	line-height: 1.3em;
}

/*
* sombras


.shadow{
	width: 100%;
	height: 15px;
	position: relative;
}

.shadow:after, .shadow:before{

	content: '';
	width: 50%;
	height: 100%;
	background: #171c24;
	position: absolute;
	left: 10px;
	top: -20px;
    -webkit-transform:  rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);

	-webkit-box-shadow:  0 0 15px 8px #171c24;
    -moz-box-shadow:  0 0 15px 8px #171c24;
    box-shadow:  0 0 15px 8px #171c24;

}

.shadow:after{
	left: auto;
	right: 10px;
	-webkit-transform:  rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);

}*/

/**
* controles del slider
**/

.slider-controls{
	text-align: center;
	margin-top: 15px;
}

.slider-controls li{
	background: #415066;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: 0 4px;
	cursor: pointer;
}

.slider-controls li.active{
	background: #00c5b9;

}

/**
* Responsive
**/

@media only screen and (max-width: 825px) {

	.slider-container{
		width: 100%;
	}

	.slider-wrapper{
		height: 260px;
	}
	
}

@media only screen and (max-width: 535px) {
	.slider-container{
		padding: 5px;
		width: 100%;
	}

	.slider-wrapper{
		height: 200px;
	}

	
}


@media only screen and (max-width: 410px) {

	.slider-container{
		padding: 5px;
		width: 100%;
	}

	.slider-wrapper{
		height: 140px;
	}

	
}

