@model List<WebApplication2.Models.Room>

@{
    ViewBag.Title = "Estado del hotel";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    if (Session["nametbuser"] == null)
    {
        Response.Redirect("~/Login/Login");
    }

}

<h2>Estado del hotel para el día de hoy</h2>

<table class="table">
    <tr>
        <th>
            Nombre de la habitación
        </th>
        <th>
            Estado
        </th>
        <th>
            @Html.ActionLink("Descargar PDF", "GeneratePdf", "Pdf")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#">@item.NameRoom</a>
            </td>
            <td>
                @if (@item.AvailabilityRoom == true)
                {
                    <text>Disponible</text>
                }
                else
                {
                    <text>Ocupada</text>
                }
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(document).ready
    (
        function ()
        {
            $("#liStateToday").addClass("active");
        }//Fin de la función
    );
</script>